<div [@transitionReveal]="{value:_mTriggerAnim, params: {animDelay: 500}}" class="main tb-position--relative tb-overflow--hidden" ngClass.xs="xs" ngClass.sm="sm"  #animRefView>
    <div class="tb-container--stretched">
      <div class="background-bar">
      </div>
    </div>
    <div class="footer tb-container tb-position--relative" fxLayout="column">
      <div class="tb-height--48"> </div>
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap.lt-md="12px">
  
        <div class="navigation-area " fxLayout="row">
        </div>
      </div>
      <div class="tb-height--56"> </div>
  
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <p class="tb-cursor--pointer tb-typo--body2 tb-color--grey-500">
          © 2023 Copyright | fcortes18.github.io | All rights reserved.</p>
        <div fxFlex> </div>
        <div class="social-area" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center">
           <div class="social" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center"
            fxLayoutAlign.lt-sm="end end">   

            <button pButton pRipple type="button" icon="pi pi-github" class="p-button p-button-outlined"></button>
            <button pButton pRipple type="button" icon="pi pi-linkedin" class="p-button p-button-outlined"></button>
            <button pButton pRipple type="button" icon="pi pi-instagram" class="p-button p-button-outlined"></button>

            <!-- <a class="" href="https://github.com/" target="_blank" matTooltip="github">
              <button mat-icon-button>
                <i class="pi pi-github"></i>
              </button>
            </a>
            <a class="" href="https://www.linkedin.com/" target="_blank" matTooltip="linkedin">
              <button mat-icon-button>
                <i class="pi pi-linkedin"></i>
              </button>
            </a>
            <a class="" href="https://www.instagram.com/" target="_blank" matTooltip="instagram">
              <button mat-icon-button>
                <i class="pi pi-instagram"></i>
              </button>
            </a> -->
          </div>
        </div>
      </div>
      <div class="tb-height--20"> </div>
    </div>
  </div>